In [ ]:
# Três coisas muito importantes para a ciência de dados

# Agemc

# Ask, Pergunta   
# Get, Obtenção dos dados
# Explorer, Exploração dos dados
# Model, Modelagem  
# Communicate, Comunicação dos resultados

In [ ]:
# Os quatro tipos de análise de dados

# Diagnóstica
# Descritiva
# Preditiva
# Prescritiva

In [ ]:
# Método hipotético dedutivo

# Observação
# Pergunta
# Pesquisa

# Hipóteses
# Extração dos dados
# Experimentação dos Dados
# Análise dos dados

# Conclusões

In [ ]:
# Pergunta?

# Qual a capital mais segura?
# Qual o tipo de segurança, apenas nos numeros ou percebida?

In [2]:
%%capture
!pip install pandas, matplotlib

In [3]:
import pandas as pd
from matplotlib import pyplot as plt

In [4]:
df = pd.read_csv('/content/frota_ativa_sp.csv')

In [5]:
df.head()

,id_municipio,municipio,categoria,combustivel,tipo_veiculo,ano_fabricacao,ano_modelo,id_contribuinte,restricao_financeira,marca,especie,quantidade_placas_mercosul,veiculo_apreendido,quantidade_veiculos,mes_ref,ano_ref
0,6133,AMERICO BRASILIENSE,ALUGUEL,DIESEL,CAMINHAO TRATOR,1991,1991,JURIDICA,NADA CONSTA,SCANIA/T112 HW,TRACAO,0.0,N,1.0,6.0,2025.0
1,7075,SAO BERNARDO DO CAMPO,PARTICULAR,ALCOOL/GASOLINA,AUTOMOVEL,2005,2006,FISICA,NADA CONSTA,FIAT/UNO MILLE FIRE FLEX,PASSAGEIRO,43.0,N,180.0,6.0,2025.0
2,2939,SANTO ANTONIO DO ARACANGUA,PARTICULAR,ALCOOL,AUTOMOVEL,1992,1992,FISICA,NADA CONSTA,VW/PARATI CL 1.8,PASSAGEIRO,1.0,N,3.0,6.0,2025.0
3,6155,ARACATUBA,PARTICULAR,ALCOOL,AUTOMOVEL,1981,1981,FISICA,NADA CONSTA,FIAT/147 L,PASSAGEIRO,0.0,N,17.0,6.0,2025.0
4,7263,MOTUCA,PARTICULAR,GASOLINA,AUTOMOVEL,1977,1978,FISICA,NADA CONSTA,VW/BRASILIA,PASSAGEIRO,0.0,N,2.0,6.0,2025.0

In [7]:
df.tail(2)

,id_municipio,municipio,categoria,combustivel,tipo_veiculo,ano_fabricacao,ano_modelo,id_contribuinte,restricao_financeira,marca,especie,quantidade_placas_mercosul,veiculo_apreendido,quantidade_veiculos,mes_ref,ano_ref
231231,7079,SAO CARLOS,PARTICULAR,ALCOOL/GASOLINA,AUTOMOVEL,2011,2011,FISICA,NADA CONSTA,VW/GOLF,PASSAGEIRO,1.0,N,1.0,6.0,2025.0
231232,7107,SAO PAULO,PARTICULAR,GASOLINA,AUTOMOVEL,2010,2011,FISICA,NADA CONSTA,I/M.BENZ,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231233 entries, 0 to 231232
Data columns (total 16 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   id_municipio                231233 non-null  int64
 1   municipio                   231233 non-null  object
 2   categoria                   231233 non-null  object
 3   combustivel                 231233 non-null  object
 4   tipo_veiculo                231233 non-null  object
 5   ano_fabricacao              231233 non-null  int64
 6   ano_modelo                  231233 non-null  int64
 7   id_contribuinte             231233 non-null  object
 8   restricao_financeira        231233 non-null  object
 9   marca                       231231 non-null  object
 10  especie                     231232 non-null  object
 11  quantidade_placas_mercosul  231232 non-null  float64
 12  veiculo_apreendido          231232 non-null  object
 13  quantidade_veiculos         231232 non-null  float64
 14  mes_ref                     231232 non-null  float64
 15  ano_ref                     231232 non-null  float64
dtypes: float64(4), int64(3), object(9)
memory usage: 28.2+ MB

In [9]:
df.describe()

,id_municipio,ano_fabricacao,ano_modelo,quantidade_placas_mercosul,quantidade_veiculos,mes_ref,ano_ref
count,231233.000000,231233.000000,231233.000000,231232.000000,231232.000000,231232.0,231232.0
mean,6589.892788,2006.053344,2006.542232,2.077935,4.390193,6.0,2025.0
std,753.420113,14.115309,21.365952,26.674498,38.780081,0.0,0.0
min,790.000000,0.000000,0.000000,0.000000,1.000000,6.0,2025.0
25%,6371.000000,1997.000000,1998.000000,0.000000,1.000000,6.0,2025.0
50%,6681.000000,2009.000000,2010.000000,1.000000,1.000000,6.0,2025.0
75%,7047.000000,2016.000000,2017.000000,1.000000,3.000000,6.0,2025.0
max,7273.000000,2025.000000,9406.000000,10819.000000,10819.000000,6.0,2025.0

In [10]:
df.columns

Index(['id_municipio', 'municipio', 'categoria', 'combustivel', 'tipo_veiculo',
       'ano_fabricacao', 'ano_modelo', 'id_contribuinte',
       'restricao_financeira', 'marca', 'especie',
       'quantidade_placas_mercosul', 'veiculo_apreendido',
       'quantidade_veiculos', 'mes_ref', 'ano_ref'],
      dtype='object')

In [35]:
# Uma pergunta interessante, marca mais presente na frota?

from collections import Counter


# lista_marcas =
# contador = Counter()

In [11]:
df['marca']

0                   SCANIA/T112 HW
1         FIAT/UNO MILLE FIRE FLEX
2                 VW/PARATI CL 1.8
3                       FIAT/147 L
4                      VW/BRASILIA
                    ...
231228        VW/PASSAT VILLAGE LS
231229                   VW/16.220
231230            GM/CHEVROLET A20
231231                     VW/GOLF
231232                   I/M.BENZ
Name: marca, Length: 231233, dtype: object

In [36]:
# Qual o tipo de combustível mais comum?

# Quais os tipos de combustíveis ?

combustiveis_tipos = set(df['combustivel'])

lista_combustiveis = list(df['combustivel'])


# print(combustiveis_tipos)

contador_combustiveis = Counter(lista_combustiveis)

In [37]:
for tipo_combustivel in combustiveis_tipos:
    print(tipo_combustivel)

GASOLINA
ALCOOL/GAS NATURAL VEICULAR
ELETRICO
DIESEL/GAS NATURAL VEICULAR
GAS NATURAL VEICULAR
GASOLINA/ALCOOL/ELETRICO
ALCOOL/GAS NATURAL COMBUSTIVEL
GASOLINA/ALCOOL/GAS NATURAL VEICULAR
DIESEL
ELETRICO/FONTE EXTERNA
DIESEL/ELETRICO
GASOLINA/GAS NATURAL COMBUSTIVEL
GASOLINA/GAS NATURAL VEICULAR
HIBRIDO
ALCOOL
HIBRIDO PLUGIN
GAS METANO
ALCOOL/GASOLINA
NAO SE APLICA
ELETRICO/FONTE INTERNA
GASOLINA/ELETRICO

In [43]:
print(type(tipo_combustivel[0]))

<class 'str'>

In [28]:
# O que este não se aplica significa?

df_combustivel = df[(df['combustivel'] == 'NAO SE APLICA')| (df['combustivel'] == 'NAO INFORMADO')]

df_combustivel.sample()

,id_municipio,municipio,categoria,combustivel,tipo_veiculo,ano_fabricacao,ano_modelo,id_contribuinte,restricao_financeira,marca,especie,quantidade_placas_mercosul,veiculo_apreendido,quantidade_veiculos,mes_ref,ano_ref
131412,6175,ARTUR NOGUEIRA,PARTICULAR,NAO SE APLICA,REBOQUE,2014,2014,FISICA,NADA CONSTA,R/BOLIVIA RCG 01,CARGA,1.0,N,2.0,6.0,2025.0

In [30]:
# df[df['combustivel'] == 'NAO INFORMADO']

# Como combustivel não informado ocorre muito pouco, cinco vezes. Podemos trocar este valor pelo mais comum NAO SE APLICA.

# df.fillna({''}, )

# Acessando as colunas com o combustivel não informado

df.loc[df['combustivel'] == 'NAO INFORMADO', 'combustivel'] = 'NAO SE APLICA'

In [32]:
print(len(df.loc[df['combustivel'] == 'NAO INFORMADO']))

0

In [45]:
# Temos no fundo três tipos de combustíveis

# Fosséis
# Elétricos
# Hibridos

for combustivel in combustiveis_tipos:
    print(combustivel)

GASOLINA
ALCOOL/GAS NATURAL VEICULAR
ELETRICO
DIESEL/GAS NATURAL VEICULAR
GAS NATURAL VEICULAR
GASOLINA/ALCOOL/ELETRICO
ALCOOL/GAS NATURAL COMBUSTIVEL
GASOLINA/ALCOOL/GAS NATURAL VEICULAR
DIESEL
ELETRICO/FONTE EXTERNA
DIESEL/ELETRICO
GASOLINA/GAS NATURAL COMBUSTIVEL
GASOLINA/GAS NATURAL VEICULAR
HIBRIDO
ALCOOL
HIBRIDO PLUGIN
GAS METANO
ALCOOL/GASOLINA
NAO SE APLICA
ELETRICO/FONTE INTERNA
GASOLINA/ELETRICO

In [46]:
# combustiveis_fosseis = df[df['combustivel'].isin[else for string_combustivel in combustiveis_tipos]]

from typing import Dict

# Eu vou separar os tipos de combustiveis e depois plotar um histograma, verificando como está a distribuição
# dos tipos de combustíveis na frota paulista de automóveis.

def classificar():
    """Um função que classifica os tipos de combustíveis
      em três classificações: Hibridos, Elétricos e Fósseis. """

    dicionario_classificacao_tipos: Dict[str, list] = {}

    for string_combustivel in lista_combustiveis:

        if "gas" in string_combustivel.lower():

            if "combustiveis_fosseis" in dicionario_classificacao_tipos:
                dicionario_classificacao_tipos["combustiveis_fosseis"].append(string_combustivel)

            else:
                dicionario_classificacao_tipos["combustiveis_fosseis"] = []

        elif "diesel" in string_combustivel.lower():

            if "combustiveis_fosseis" in dicionario_classificacao_tipos:
                dicionario_classificacao_tipos["combustiveis_fosseis"].append(string_combustivel)

            else:
                dicionario_classificacao_tipos["combustiveis_fosseis"] = []

        elif "alcool"